version: "3.8"

services:
  dagster:
    image: ghcr.io/padliwinata/dagster-pipeline:latest
    container_name: dagster
    ports:
      - "8085:8085"
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home
      - NOCO_TOKEN=${NOCO_TOKEN:-Qv3V7ZqqZXa1IMzxqskr3JtC3bEbrzZcGjq5htxF}
    volumes:
      - dagster_home:/opt/dagster/dagster_home
    command:
      ["dagster", "dev", "--port", "8085", "--host", "0.0.0.0", "-w", "workspace.yaml"]
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

volumes:
  dagster_home:
